name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Rust
      uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        override: true

    - name: Set RUSTFLAGS to ignore unused and dead code warnings
      run: export RUSTFLAGS="-A dead_code -A unused_variables -A unused_imports"

    - name: Add rustc components
      run: rustup component add rust-src rustc-dev llvm-tools-preview

    - name: Build
      run: cargo build --verbose

    - name: Run tests
      run: cargo test --verbose

    # - name: Run Clippy
    #   run: cargo clippy -- -D warnings

    # - name: Format check
    #   run: cargo fmt -- --check

    # - name: Run Coverage
    #   run: |
    #     cargo install cargo-tarpaulin
    #     cargo tarpaulin --out Xml
    #   env:
    #     CARGO_TARPAULIN_OPTS: "--exclude-files src/main.rs"
